@charset "utf-8";
#cuerpo {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#tabla {
	width: 600px;
	float: left;
}
#fotos {
	width: 200px;
	float: right;
}
.FUENTE1 {
	color: #000066;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	font-size: large;
}
.FUENTE2 {
	color: #660066;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-style: oblique;
	font-weight: bold;
	font-size: large;
	text-align: center;
}
#Videos {
	width: 600px;
	float: left;
}
#fotos2 {
	width: 200px;
	float: right;
}
